* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  height: 100%;
  width: 100%;
  background-color: #9ea19f;
}
.navbar {
  position: relative;
  padding: 0;
}
.menu-icon {
  font-size: 1.5em;
  color: black;
  cursor: pointer;
  display: inline-block;
}
.nav-menu {
  list-style: circle;
  display: none;
  margin: 0;
}
.nav-menu li {
  padding: 1em;
}
.nav-menu li a {
  color: black;
  font-size: 18px;
  text-decoration: none;
  display: block;
  height: 1vh;
}
.container {
  margin: 0 auto;
  width: 100%;
  height: auto;
  padding: 25px;
}
.container img {
  width: 85%;
  margin: 0 auto;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  max-height: 600px;
}
header {
  width: auto;
  height: auto;
  border: 1px solid black;
  background-image: url(https://blog.interfell.com/hubfs/HTML%2C%20CSS%20y%20JS%20la%20combinacion%20para%20el%20desarrollo%20web.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  margin: 0;
  padding: 0;
}
header h1 {
  text-align: center;
  font-size: 50px;
  color: red;
  margin-bottom: 120px;
}
header p {
  text-align: center;
  color: white;
}
main::after {
  content: "";
  display: table;
  clear: both;
}
section {
  float: left;
  width: 70%;
  height: auto;
  margin: 0;
  padding: 0;
  background-color: #c3c7c4;
}
section h1 {
  margin: 0;
  padding: 0;
}
aside {
  float: right;
  width: 30%;
  height: auto;
  border: 1px solid black;
  margin: 0;
  padding: 0;
  background-color: #d6d9d7;
}
.sticky {
  position: sticky;
  top: 0;
}
footer {
  border: 1px solid black;
  background-color: #4f4f4f;
  color: white;
  font-size: 14px;
  width: 100%;
  height: auto;
}
.Apuntes {
  margin: 0 auto;
  padding: 5%;
}
.Apuntes ul li a {
  color: black;
}